.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bar {
  fill: #5f89ad;
}

/* .axis {
  font-size: 13px;
} */

.axis path,
.axis line {
  fill: none;
  display: none;
}

.label {
  font-size: 13px;
}
